.display{
    margin: 30px;
    text-align: center;
    height: 115px;
  }
  .digit7 {
    width: 50px;
    display:inline-block;
    border-right-width:50px;
    border-right-style:solid;
    border-right-color: rgba(255, 0, 0, 0);
  }
  
  .above {
    height: 50px;
    border-color: red;
    border-style: solid;
    border-width: 5px;
  }
  .under {
    height: 50px;
    border-color: red;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 5px
  }
  
  .above_1{
    border-top-color: rgba(255, 0, 0, 0);
    border-left-color: rgba(255, 0, 0, 0);
    border-bottom-color: rgba(255, 0, 0, 0); 
  }
  
  .under_1{
    border-top-color: rgba(255, 0, 0, 0);
    border-left-color: rgba(255, 0, 0, 0);
    border-bottom-color: rgba(255, 0, 0, 0);
  }
  
  .above_2{
    border-left-color: rgba(255, 0, 0, 0);
  }
  
  .under_2{
    border-right-color: rgba(255, 0, 0, 0);
  }

  .above_0{
    border-bottom-color: rgba(255, 0, 0, 0);
  }

  .above_3{
    border-left-color: rgba(255, 0, 0, 0) 
  }
  
  .under_3{
    border-left-color:rgba(255, 0, 0, 0)
  }
  
  .above_4{
    border-top-color:rgba(255, 0, 0, 0)
  }
  
  .under_4{
    border-left-color:rgba(255, 0, 0, 0);
    border-bottom-color: rgba(255, 0, 0, 0);

  }

  .above_5{
    border-right-color:rgba(255, 0, 0, 0);
  }

  .under_5{
    border-left-color:rgba(255, 0, 0, 0);
  }

  .above_6{
    border-right-color:rgba(255, 0, 0, 0);
  }

  .above_7{
    border-left-color:rgba(255, 0, 0, 0);
    border-bottom-color:rgba(255, 0, 0, 0);
  }
  

  .under_7{
    border-left-color:rgba(255, 0, 0, 0);
    border-bottom-color:rgba(255, 0, 0, 0);
  }

  .under_9{
    border-left-color:rgba(255, 0, 0, 0);
  }

  .above_nothing{
    border-left-color:rgba(255, 0, 0, 0);
    border-bottom-color:rgba(255, 0, 0, 0);
    border-top-color:rgba(255, 0, 0, 0);
    border-right-color:rgba(255, 0, 0, 0);
  }

  .under_nothing{
    border-left-color:rgba(255, 0, 0, 0);
    border-right-color:rgba(255, 0, 0, 0);
    border-bottom-color:rgba(255, 0, 0, 0);
  }

  .above_-{
    border-left-color:rgba(255, 0, 0, 0);
    border-top-color:rgba(255, 0, 0, 0);
    border-right-color:rgba(255, 0, 0, 0);
  }

  .under_-{
    border-left-color:rgba(255, 0, 0, 0);
    border-right-color:rgba(255, 0, 0, 0);
    border-bottom-color:rgba(255, 0, 0, 0);
  }